SECRET_KEY=your_secret_key_here
ACCESS_TOKEN_EXPIRE_MINUTES=15
DATABASE_URL=sqlite:///./finance.db

S3_ENDPOINT=http://localhost:9000
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
S3_BUCKET=finance-files
S3_PUBLIC_ENDPOINT=http://localhost:9000
